<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="../favicon.ico"/>
  <title>Parrit</title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="noindex, nofollow"/>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../built/bundle.css"/>
</head>
<body>
  <div id="app"></div>

  <footer class="container-fluid">
    <p>©2016 -- Icons by Thomas Helbig</p>
  </footer>

  <script src="../built/bundle.js"></script>
</body>
</html>
