.login-container {
  background-color: $duckEggBlue;

  .login {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .lock-icon {
      width: 53px;
      height: 75px;
      background-image: url("./images/lock-icon.svg");
      margin: 0 auto;
    }

    .project-name {
      text-align: center;
    }

    input[type=password] {
      width: 325px;
      display: block;
      margin: 0 auto;
    }

    input[type=submit] {
      visibility: hidden;
    }
  }
}