.pairing-history-record-list {
  .pairing-history-record {
    display: grid;
    grid-template-columns: 34px auto 20px;
    grid-template-rows: 26px auto 60px;

    .pairing-history-record-clock {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      background-image: url("./images/history-small.svg");
      width: 20px;
      height: 20px;
    }

    .pairing-time {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

      color: $silver;
    }

    .pairing-boards-with-people {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      .pairing-board-with-people {
        font: $Raleway-Medium;
        font-size: 13px;
        line-height: 1.3;
        color: $silver;
        margin-bottom: 8px;

        .pairing-board-name {
          margin-right: 5px;
          text-transform: uppercase;
        }

        .person-name {
          .person-names-plus-sign {
            margin: 0 3px;
          }

          &:last-child {
            .person-names-plus-sign {
              display: none;
            }
          }
        }
      }
    }

    .dotted-line {
      grid-column-start: 1;
      grid-column-end: span 3;
      grid-row-start: 3;

      background-image: url("./images/history-dot.svg");
      width: 272px;
      height: 2px;
      align-self: center;
    }

    &:last-child {
      .dotted-line {
        display: none;
      }
    }

    .delete-pairing-arrangement {
      grid-column-start: 3;
      grid-row-start: 1;

      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-image: url("./images/trash.svg");
    }
  }
}