.pairing-history-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  transition: all 300ms ease;

  width: 330px;
  box-sizing: border-box;
  background-color: $slateGrey;

  overflow-y: auto;

  &.panel-open {
    right: 0;
  }

  &.panel-closed {
    right: -330px;
  }

  .inner-pairing-history-wrapper {
    padding: 0 28px;
  }

  .header {
    margin-top: 26px;
    margin-bottom: 38px;

    .header-text {
      display: inline-block;

      h2 {
        color: $silver;
      }
    }

    .cancel {
      float: right;
      display: inline-block;
      cursor: pointer;
      width: 13px;
      height: 13px;
      margin-top: 7px;
      background-image: url("./images/close-history-panel-dark.svg");

      &:hover {
        background-image: url("./images/close-history-panel-bright.svg");
      }
    }
  }

  .body {
    margin-bottom: 28px;
  }

  .no-history {
    .clock {
      background-image: url("./images/history.svg");
      width: 40px;
      height: 40px;
      margin: 0 auto 15px auto;
    }

    .no-history-content {
      text-align: center;
      font: $Raleway;
      font-size: 15px;
      line-height: 1.5;
      color: $silver;
      padding: 0 20px;
    }
  }
}
