$slateGrey: #58595B;
$coolGrey: #8D9096;
$silver: #CACED5;
$lightGrey: #E8E8E8;

$lightTeal: #89D4E5;
$lightCyan: #9EF1FF;
$duckEggBlue: #E8F7FA;

$yellowyGreen: #D4F338;
$slimyGreen: #BDD63E;
$lightKhaki: #F6FAE5;

$tomato: #EF3E33;
$salmon: #F3736C;
$lightSalmon: #F9BFBB;
$veryLightPink: #FCE1DF;
$purple: #F373EE;

$lightTan: #F7F4A9;
