.floating-parrits .role {
  background-color: $veryLightPurple;
  color: $purple;
}

.pairing-board .role,
.role.can-drop {
  background-color: $purple;
  color: white;
}

.role {
  position: relative;
  display: inline-block;
  border-radius: 26px;
  border-radius: 5px;

  padding: 1px 6px 0px 6px;
  margin-right: 2px;

  font: $Raleway-Bold;
  font-size: 8px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.can-drop {
    z-index: 3;
  }
}

