.floating-parrits .role {
  background-color: $veryLightPurple;
  color: $purple;
}

.pairing-board .role,
.role.can-drop {
  background-color: $purple;
  color: white;
}

.role {
  position: relative;
  display: inline-block;
  border-radius: 26px;

  padding: 17.5px 20px;
  margin-right: 10px;
  margin-bottom: 10px;

  font: $Raleway-Bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;

  &.can-drop {
    z-index: 3;
  }
}
