$slateGrey: #58595b;
$coolGrey: #8d9096;
$silver: #caced5;
$lightGrey: #e8e8e8;

$lightTeal: #89d4e5;
$lightCyan: #9ef1ff;
$duckEggBlue: #e8f7fa;

$yellowyGreen: #d4f338;
$slimyGreen: #bdd63e;
$lightKhaki: #f6fae5;

$tomato: #ef3e33;
$salmon: #f3736c;
$veryLightPink: #fce1df;

$lightTan: #f7f4a9;