$duckEggBlue: #e8f7fa;
$lightTeal: #89d4e5;
$slimyGreen: #bdd63e;
$coolGrey: #8d9096;
$lightCyan: #9ef1ff;
$yellowyGreen: #d4f338;
$lightTan: #f7f4a9;
$slateGrey: #58595b;
$silver: #caced5;
$salmon: #f3736c;
$tomato: #ef3e33;
$veryLightPink: #fce1df;
$lightKhaki: #f6fae5;
$lightGrey: #e8e8e8;