.dashboard-container {
  overflow: auto;

  .dashboard-content-container {
    @include absolutely-centered;

    .dashboard-content {
      .logo {
        margin: 0 auto 52.5px auto;
        background-image: url("../svg/parrit-logo-with-tag.svg");
      }

      .description {
        margin: 0 auto 62px auto;
        text-align: center;
      }

      .forms-container {
        .form {
          width: 325px;

          .form-label {
            text-align: center;
          }

          input {
            margin-bottom: 10px;
          }

          button {
            width: 100%;
            margin-bottom: 7px;
          }

          .error-message {
            height: 15px;

            font: $Raleway-SemiBold;
            font-size: 13px;
            color: $salmon;
            text-align: left;
          }
        }
      }
    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .dashboard-container {
    height: 875px;

    .dashboard-content-container {
      width: $mobileContentWidth;
      height: 850px;

      .dashboard-content {
        margin: 0 10px;

        .logo {
          width: 325px;
          height: 91px;
        }

        .forms-container {
          .form {
            margin: auto;
          }

          .form.new-form {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .dashboard-container {
    height: 675px;

    .dashboard-content-container {
      width: $desktopContentWidth;
      height: 650px;

      .dashboard-content {
        margin: 0 50px;

        .logo {
          width: 400px;
          height: 112px;
        }

        .description {
          width: 538px;
        }

        .forms-container {
          text-align: center;

          .form {
            display: inline-block;
            vertical-align: middle;
          }

          .form.new-form {
            margin-right: 51px;
          }

          .dotted-line {
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 240px;
            background-image: url("../svg/dot-dark.svg");
            margin-right: 50px;
          }
        }
      }
    }
  }
}