.dashboard {
  position: relative;
  min-height: 40em;
  width: 40%;
  margin: 4em auto;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .dashboard {
    width: 80%;
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  .dashboard {
    width: 40%;
    padding: 40px 50px;
  }
}