.dashboard-container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  background-color: $duckEggBlue;

  .dashboard-content-container {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: center;

    .dashboard-content {
      padding-bottom: 46px;

      .logo {
        margin: 0 auto 52px auto;
        background-image: url("../svg/parrit-logo-with-tag.svg");
      }

      .description {
        margin: 0 auto 62px auto;
        text-align: center;
      }

      .forms-container {
        .form {
          width: 325px;

          .form-label {
            text-align: center;
          }

          input {
            margin-bottom: 10px;
          }

          button {
            width: 100%;
            margin-bottom: 7px;
          }

          .error-message {
            height: 15px;

            font: $Raleway-SemiBold;
            font-size: 12px;
            color: $salmon;
            text-align: left;
          }
        }
      }

      .feedback-container {
        text-align: center;
        margin-top: 62px;

        > * {
          margin: 4px auto;
        }
      }
    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .dashboard-container {

    .dashboard-content-container {

      .dashboard-content {
        margin: 0 10px;
        padding-top: 30px;

        .logo {
          width: 325px;
          height: 91px;
        }

        .description {
          max-width: 400px;
        }

        .forms-container {
          .form {
            margin: auto;
          }

          .form.new-form {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .dashboard-container {

    .dashboard-content-container {

      .dashboard-content {
        margin: 0 50px;

        .logo {
          width: 400px;
          height: 112px;
        }

        .description {
          width: 538px;
        }

        .forms-container {
          text-align: center;

          .form {
            display: inline-block;
            vertical-align: middle;
          }

          .form.new-form {
            margin-right: 51px;
          }

          .dotted-line {
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 240px;
            background-image: url("../svg/dot-dark.svg");
            margin-right: 50px;
          }
        }
      }
    }
  }
}