/* Drag and drop Styling */
.pairing-board.drop-target {
  background-color: $lightKhaki !important;
}

.person.can-drop {
  color: white !important;
  background-color: $salmon !important;
  z-index: 5 !important;
}

.delete-parrit.drop-target {
  opacity: 1 !important;
}