/* Drag and drop Styling */
.space.drop-active {
  border-color: $lightGrey;
}

.space.drop-target {
  background-color: $lightBlue;
  border-color: white;
  border-style: solid;
}

.workspace.drop-active {
  border-color: $lightGrey;
}

.workspace.drop-target {
  background-color: white;
  border-color: $lightGrey;
  border-style: solid;
}

.person.can-drop {
  color: black;
  background-color: $successGreen;
  z-index: 1;
}

.trash.drop-target {
  background-color: $lightBlue;
}

.trash.drop-active {
  visibility: visible;
}