$desktopImageWidth: 431px;
$desktopImageHeight: 265px;
$mobileImageWidth: 349px;
$mobileImageHeight: 212px;

.error-container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  background-color: $lightTan;

  .error-image-wrapper {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: center;

    .parrit-talk-bubble {
      background-image: url("../svg/parrit-talk-bubble.svg");
      margin: 30px auto 100px auto;

      .error-message {
        position: relative;
      }
    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .error-container {

    .error-image-wrapper {

      .parrit-talk-bubble {
        width: $mobileImageWidth;
        height: $mobileImageHeight;
        background-size: 100%;

        .error-message {
          top: 45px;
          left: 34px;
          font-size: 30px;
        }

        .home-page-link {
          top: 22px;
          left: 60px;
        }
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .error-container {

    .error-image-wrapper {

      .parrit-talk-bubble {
        width: $desktopImageWidth;
        height: $desktopImageHeight;

        .error-message {
          top: 65px;
          left: 45px;
        }

        .home-page-link {
          top: 40px;
          left: 90px;
        }
      }
    }
  }
}