$desktopImageWidth: 431px;
$desktopImageHeight: 265px;
$mobileImageWidth: 349px;
$mobileImageHeight: 212px;

.error-container {
  overflow: auto;

  .error-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .parrit-talk-bubble {
      display: block;
      object-fit: contain;
      background-image: url("../svg/parrit-talk-bubble.svg");

      .error-message {
        position: relative;
        line-height: 44px;
        font: $Overlock-Black;
      }

      .home-page-link {
        position: relative;
        line-height: 16px;
        font: $Raleway-ExtraBold;
        letter-spacing: 0.5px;
        color: $salmon;
        text-decoration: none;

        &:hover {
          color: $tomato;
        }
      }

      .carrot {
        width: 9px;
        height: 12.8px;
        display: inline-block;
        object-fit: contain;
        margin-left: 5px;
        background-image: url("../svg/carrot.svg");
      }

    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .error-container {
    height: calc(#{$mobileImageHeight} + 50px);

    .error-image-wrapper {
      width: $mobileImageWidth;
      height: $mobileImageHeight;

      .parrit-talk-bubble {
        width: $mobileImageWidth;
        height: $mobileImageHeight;
        background-size: 100%;

        .error-message {
          width: 216px;
          top: 58px;
          left: 36px;
          font-size: 30px;
        }

        .home-page-link {
          top: 60px;
          left: 68px;
          font-size: 12px;
        }
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .error-container {
    height: calc(#{$desktopImageHeight} + 50px);

    .error-image-wrapper {
      width: $desktopImageWidth;
      height: $desktopImageHeight;

      .parrit-talk-bubble {
        width: $desktopImageWidth;
        height: $desktopImageHeight;

        .error-message {
          top: 82px;
          left: 45px;
          font-size: 36px;
        }

        .home-page-link {
          top: 90px;
          left: 88px;
          font-size: 14px;
        }
      }
    }
  }
}