.error-container {
  overflow: auto;

  .error-image-wrapper {
    .parrit-talk-bubble {
      display: block;
      object-fit: contain;
      margin: 0 auto 52.5px auto;
      background-image: url("../svg/parrit-talk-bubble.svg");

      .error-message {
        position: relative;
        line-height: 44px;
        font-family: Overlock-Black;
      }

      .home-page-link {
        position: relative;
        line-height: 16px;
        font-family: Raleway-ExtraBold;
        letter-spacing: 0.5px;
        color: #f3736c;
        text-decoration: none;
      }

      .carrot {
        width: 9px;
        height: 12.8px;
        display: inline-block;
        object-fit: contain;
        margin-left: 5px;
        background-image: url("../svg/carrot.svg");
      }

    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .error-image-wrapper {
    margin-top: 160px;

    .parrit-talk-bubble {
      width: 349px;
      height: 212px;
      background-size: 100%;

      .error-message {
        width: 208px;
        top: 58px;
        left: 44px;
        font-size: 30px;
      }

      .home-page-link {
        top: 60px;
        left: 68px;
        font-size: 12px;
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .error-image-wrapper {
    margin-top: 400px;

    .parrit-talk-bubble {
      width: 431px;
      height: 265px;

      .error-message {
        top: 82px;
        left: 56px;
        font-size: 36px;
      }

      .home-page-link {
        top: 90px;
        left: 88px;
        font-size: 14px;
      }
    }
  }
}