@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Overlock:900);

/*
 *  Use these with the "font:" property.
 *
 *  Place overrides below, eg font-size, line-height
 */

$Overlock-Black: normal normal 900 30px Overlock;
$Raleway-Thin: normal normal 300 30px Raleway;
$Raleway: normal normal 400 30px Raleway;
$Raleway-Medium: normal normal 500 30px Raleway;
$Raleway-SemiBold: normal normal 600 30px Raleway;
$Raleway-Bold: normal normal 700 30px Raleway;
$Raleway-ExtraBold: normal normal 800 30px Raleway;

body {
  font: $Raleway-Thin;
  font-size: 18px;
  line-height: 28px;
  color: $coolGrey;
}

h1 {
  font: $Overlock-Black;
  font-size: 36px;
  line-height: 44px;
  color: $slateGrey;
}

h2 {
  font: $Raleway-Medium;
  font-size: 22px;
  line-height: 26px;
  color: $coolGrey;

  margin-top: 0;
}

h3 {
  font: $Overlock-Black;
  font-size: 15px;
  line-height: 18px;
  color: $coolGrey;
  letter-spacing: 0.5px;

  margin-top: 0;
  text-transform: uppercase;
}

.caption {
  font-size: 15px;
  line-height: 18px;
}