footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 20px;
  padding: 5px 10px 0;

  font: $Raleway-Medium;
  font-size: 10px;
  line-height: 14px;
  color: $coolGrey;

  .fake-copyright {
    float: left;
  }

  .github-link {
    float: right;

    a {
      color: $coolGrey;
    }
  }
}