header {
  flex-shrink: 0;
  height: 80px;
  background-color: $duckEggBlue;

  .header-logo {
    width: 185px;
    height: 47px;

    float: left;
    background-image: url("../svg/parrit-logo.svg");
    margin-top: 16px;
  }

  .links {
    float: right;
    display: flex;
    justify-content: center;
    height: 100%;

    > h3 {
      margin-bottom: 0;
      align-self: center;
      cursor: pointer;
    }

    .logout, .history {
      cursor: pointer;
    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  header {
    padding: 0 20px;

    .links {
      > h3 {
        width: 22px;
        height: 22px;
        color: transparent;
        font-size: 0;
      }

      .logout {
        background: url("../svg/logout-icon.svg") no-repeat;
        margin-right: 20px;
      }

      .history {
        background: url("../svg/history-icon.svg") no-repeat;
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  header {
    padding: 0 50px;

    .links {
      > h3 {
        margin-left: 20px;
      }

      .logout:hover {
        color: $slateGrey;
      }

      .history {
        .history-caret-left {
          display: inline-block;
          width: 9.1px;
          height: 13px;
          margin-left: 5px;
          margin-bottom: -1px;
          background-image: url("../svg/history-caret-left-bright.svg");
        }

        .history-caret-right {
          display: inline-block;
          width: 9.1px;
          height: 13px;
          margin-left: 5px;
          margin-bottom: -1px;
          background-image: url("../svg/history-caret-right-dark.svg");
        }

        &:hover,
        &.open {
          color: $slateGrey;

          .history-caret-left {
            background-image: url("../svg/history-caret-left-dark.svg");
          }
        }
      }
    }
  }
}

