header {
  flex-shrink: 0;
  height: 80px;
  background-color: $duckEggBlue;

  .header-logo {
    width: 185px;
    height: 47px;

    float: left;
    background-image: url("../svg/parrit-logo.svg");
    margin-top: 16px;
  }

  .links {
    float: right;
    margin-top: 33px;
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  header {
    padding: 0 20px;

    .links {
      .logout, .history {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        color: transparent;
        font-size: 0;
      }

      .logout {
        background: url("../svg/logout-icon.svg") no-repeat;
        margin-right: 20px;
      }

      .history {
        background: url("../svg/history-icon.svg") no-repeat;

        .history-carrot {
          display: none;
        }
      }
    }
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  header {
    padding: 0 50px;

    .links {
      > h3 {
        display: inline-block;
        margin-left: 20px;
      }

      .history {
        .history-carrot {
          display: inline-block;
          width: 9.1px;
          height: 13px;
          margin-left: 5px;
          margin-bottom: -1px;
          background-image: url("../svg/history-carrot.svg");
        }
      }
    }
  }
}

