.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.ReactModal__Content {
  position: absolute;
  top: 0;
  bottom: 40%;
  left: 0;
  right: 0;
  margin: auto;

  width: 326px;
  height: 111px;

  padding: 32px;
  border-radius: 3px;
  background-color: $duckEggBlue;
  z-index: 2;

  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);

  form {
    .form-header {
      .form-title {
        float: left;
        font: $Raleway-SemiBold;
        font-size: 22px;
        line-height: 26px;
        color: $coolGrey;
        margin-bottom: 35px;
      }

      .form-cancel {
        float: right;
        display: inline-block;
        cursor: pointer;

        margin-top: 9px;
        width: 13px;
        height: 13px;
        object-fit: contain;
        background-image: url("../svg/close-modal-dark.svg");

        &:hover {
          background-image: url("../svg/close-modal-bright.svg");
        }
      }
    }
  }
}