.project-login-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: $duckEggBlue;

  .project-login {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: center;

    .lock-icon {
      width: 53px;
      height: 75px;
      background-image: url("../svg/lock-icon.svg");
      margin: 0 auto;
    }

    .project-name {
      text-align: center;
    }

    input[type=password] {
      width: 325px;
      display: block;
      margin: 0 auto;
    }

    input[type=submit] {
      visibility: hidden;
    }
  }
}