.sidenav {
  background-color: $offWhite;

  .menu {
    padding: 0;

    button {
      display: block;
      width: 100%;
    }

    button + button {
      margin-top: 5px;
    }
  }
}

@media (max-width: 767px) {
  .sidenav {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

