.workspace-login-container {
  overflow: auto;

  .workspace-login {
    width: 325px;
    margin-left: auto;
    margin-right: auto;

    .lock-icon {
      width: 53px;
      height: 75px;
      display: block;
      object-fit: contain;
      margin: 0 auto 25px;
      background-image: url("../svg/lock-icon.svg");
    }

    .workspace-name {
      text-align: center;
      line-height: 44px;
      font-family: Avenir-Heavy;
      font-size: 32px;
      color: #4a4a4a;
      margin-bottom: 31px;
    }

    input {
      width: calc(100% - 16px - 2px);
      height: 50px;
      border-radius: 3px;
      border: solid 1px #cccccc;

      padding-left: 16px;
      line-height: 25px;
      font-family: Avenir-Book;
      font-size: 18px;
      color: #847f7a;
    }

    input[type=submit] {
      visibility: hidden;
    }
  }
}

/*
 *  Mobile
 */
@media (max-width: $desktopContentWidth) {
  .workspace-login {
    margin-top: 160px;
  }
}

/*
 *  Desktop
 */
@media (min-width: $desktopContentWidth) {
  .workspace-login {
    margin-top: 400px;
  }
}