.project-page-container {
  overflow: auto;

  .project {
    margin: 80px 50px 25px;

    .sub-header {
      height: 135px;

      .project-name {
        float: left;

        margin-top: 36px;
        line-height: 44px;
        font: $Overlock-Black;
        font-size: 36px;
        color: $slateGrey;
      }

      .project-actions {
        float: right;
        margin-top: 32px;

        button {
          height: 50px;
          padding: 0 20px;
          border: none;
          border-radius: 3px;

          line-height: 21px;
          font: $Raleway;
          font-size: 18px;
          color: white;

          &:first-child {
            margin-right: 15px;
            background-color: $lightTeal;

            &:hover {
              background-color: $lightCyan;
            }
          }

          &:last-child {
            background-color: $slimyGreen;

            &:hover {
              background-color: $yellowyGreen;
            }
          }
        }
      }
    }

    .workspace {
      display: flex;
      justify-content: space-between;
      min-height: 870px;

      .floating-parrits {
        position: relative;
        width: 250px;

        .floating-parrit-title {
          font: $Raleway-SemiBold;
          font-size: 22px;
          line-height: 26px;
          color: $coolGrey;
          margin-bottom: 36px;
        }

        .person-list {
          margin-bottom: 100px;
        }

        .floating-parrit-actions {
          position: absolute;
          bottom: 0;

          .add-parrit-button {
            display: inline-block;
            width: 80px;
            height: 80px;
            object-fit: contain;
            background-image: url("../svg/add-parrit.svg");

            cursor: pointer;
            opacity: .30;
            margin-right: 26px;

            &:hover {
              opacity: 1;
            }
          }

          .delete-parrit {
            display: inline-block;
            width: 80px;
            height: 80px;
            object-fit: contain;
            background-image: url("../svg/delete-parrit.svg");

            opacity: .30;

            &.drop-target {
              opacity: 1;
            }
          }

        }
      }

      .dotted-line {
        width: 5px;
        object-fit: contain;
        margin: 0 50px 0 45px;
        background-image: url("../svg/dot-light.svg");
      }

      .pairing-boards-container {
        position: relative;
        flex-grow: 1;
        width: 78%;

        .pairing-boards-title {
          width: 100%;
          font: $Raleway-SemiBold;
          font-size: 22px;
          line-height: 26px;
          color: $coolGrey;
          margin-bottom: 36px;
        }

        .add-board-button {
          position: absolute;
          bottom: 4px;
          right: 0;
          cursor: pointer;

          width: 80px;
          height: 80px;
          object-fit: contain;
          background-image: url("../svg/add-board.svg");
          opacity: .30;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}