.workspace-login-container {
  overflow: auto;
  height: 325px;

  .workspace-login {
    @include absolutely-centered;

    width: 325px;
    height: 300px;

    .lock-icon {
      width: 53px;
      height: 75px;
      background-image: url("../svg/lock-icon.svg");
      margin: 0 auto;
    }

    .workspace-name {
      text-align: center;
    }

    input[type=submit] {
      visibility: hidden;
    }
  }
}