body {
    background-color: #286090
}

.workspace {
    background-color:white;
    margin-top: 1em;
    min-height: 50em;
}

.space {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    min-height: 8em;
    width: 80%;
}

.floatingSpace {
    width:80%;
    margin: auto;
}

/* Drag and drop Styling */
.space.drop-active {
  border-color: #aaa;
}

.space.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.workspace.drop-active {
    border-color: #aaa;
}

.workspace.drop-active {
    background-color: red;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #337AB7;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}