<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../favicon.ico"/>
    <title>Parrit</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="../built/bundle.css"/>
</head>
<body style="background-color: #E8F7FA;">
<div id="reactRoot"></div>
<script src="../built/bundle.js"></script>
<script>
    runDashboard();
</script>
</body>
</html>
