<!DOCTYPE html>
<html lang="en">
<link>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title>Parrit</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="../built/bundle.css"/>
</head>
<body>
<div id="reactRoot"></div>
<script src="../built/bundle.js"></script>
<script>
    runDashboard();
</script>
</body>
</html>
