<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title>Parrit</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="../built/bundle.css"/>
</head>
<body>
<div id="reactRoot"></div>
<script src="../built/bundle.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    runProject(/*[[${project}]]*/);
    /*]]>*/
</script>
</body>
</html>
