<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title>Parrit</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="../built/bundle.css"/>
</head>
<body>
<div id="reactRoot"></div>
<script src="../built/bundle.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var projectName = /*[[${projectName}]]*/ null;
    var csrfParameterName = /*[[${_csrf.parameterName}]]*/ null;
    var csrfToken = /*[[${_csrf.token}]]*/ null;
    runProjectLogin(projectName, csrfParameterName, csrfToken);
    /*]]>*/
</script>

<script th:inline="javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', [[${@environment.getProperty('google.analytics.tracking.id')}]], 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
